---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Projects />
  </main>
  <Footer />
</Base>
